/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
/* ==========================================================================
   Base
   ========================================================================== */
body {
  font-family: "Polaris-Book", sans-serif;
  line-height: 1.58em;
  position: relative;
  padding-top: 75px;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  background-color: whitesmoke;
  width: 100%;
  min-height: 100%;
  margin-bottom: -316px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0px 0px 1px rgba(34, 34, 34, 0.18) ;
  -moz-box-shadow: 0px 0px 1px rgba(34, 34, 34, 0.18) ;
  box-shadow: 0px 0px 1px rgba(34, 34, 34, 0.18) ;
  top: 0;
}

.unfixed {
  position: absolute;
}

main {
  padding-bottom: 316px;
}

footer {
  background-color: #222222;
  width: 100%;
  position: relative;
  height: 296px;
  clear: both;
}

/* ==========================================================================
   Grid
   ========================================================================== */
.field {
  width: 100%;
  display: table;
}

.baseline {
  float: left;
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
}

.col1 {
  width: 8.33%;
}

.col2 {
  width: 16.667%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.33%;
}

.col5 {
  width: 41.66%;
}

.col6 {
  width: 50%;
}

.col7 {
  width: 58.33%;
}

.col8 {
  width: 66.66%;
}

.col9 {
  width: 75%;
}

.col10 {
  width: 83.33%;
}

.col11 {
  width: 91.67%;
}

.col12 {
  width: 100%;
}

.alpha {
  padding-left: 0 !important;
}

.omega {
  padding-right: 0 !important;
}

.col-auto {
  width: auto;
}

.gutter:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid whitesmoke;
}

.gutter-right:before {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 100%;
  border-right: 2px solid whitesmoke;
  z-index: 9;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* ==========================================================================
   Links
   ========================================================================== */
a:link, a:visited {
  color: #222222;
  text-decoration: none;
}
a:link.underline, a:visited.underline {
  border-bottom: 1px solid #aaaaaa;
}

p a:link {
  border-bottom: 1px solid #222222;
}

a:hover, a:active {
  border-bottom: 1px solid #aaaaaa;
}
a:hover.no-underline, a:active.no-underline {
  border-bottom: none !important;
}

.no-touch a:hover, .no-touch a:active {
  cursor: pointer;
  color: #aaaaaa;
}

/* ==========================================================================
   Typography
   ========================================================================== */
.condensed {
  font-family: "Polaris-Condensed-Bold", "Polaris-Bold", sans-serif;
}

.regular {
  font-family: "Polaris-Book", sans-serif !important;
}

.bold {
  font-family: "Polaris-Bold", sans-serif;
}

.strike {
  text-decoration: line-through;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Polaris-Condensed-Bold", "Polaris-Bold", sans-serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 3.75rem;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 3rem;
}

h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.25rem;
}

h5 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem;
}

h6 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.885rem;
}

.h1 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 4.5rem;
}

.h2 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 3.75rem;
}

.h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 3rem;
}

.h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.25rem;
}

.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem;
}

.h6 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.885rem;
}

.heading-bold {
  font-family: "Polaris-Bold", sans-serif;
  text-transform: none;
  letter-spacing: normal !important;
}

.heading-regular {
  font-family: "Polaris-Book", sans-serif;
  text-transform: none;
  letter-spacing: normal;
}

p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.885rem;
}
p.large {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem;
}

blockquote,
q {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 0;
  padding: 0 0 20px 20px;
}

.small {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.595rem;
}

.underline {
  border-bottom: 1px solid #aaaaaa;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 0.2em;
}

/* ==========================================================================
   Alignments
   ========================================================================== */
.centered {
  margin: 0 auto;
}

.reset-lineHeight {
  line-height: 0;
}

.align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==========================================================================
   Positioning
   ========================================================================== */
.static {
  position: static !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

/* ==========================================================================
   Visibility
   ========================================================================== */
.hide {
  display: none;
}

.show {
  display: block !important;
}

.overflow {
  overflow: hidden;
}

/* ==========================================================================
   Colors And Background Colors
   ========================================================================== */
.color-black {
  color: #222222 !important;
}

.color-dark-grey {
  color: #555555 !important;
}

.color-medium-grey {
  color: #aaaaaa !important;
}

.color-light-grey {
  color: #cccccc !important;
}

.color-off-white {
  color: whitesmoke !important;
}

.color-white {
  color: white !important;
}

.color-beige {
  color: #c2a67d !important;
}

.color-red {
  color: #fd4f57 !important;
}

.bgcolor-black {
  background-color: #222222;
}

.bgcolor-dark-grey {
  background-color: #555555;
}

.bgcolor-medium-grey {
  background-color: #aaaaaa;
}

.bgcolor-light-grey {
  background-color: #cccccc;
}

.bgcolor-off-white {
  background-color: whitesmoke;
}

.bgcolor-white {
  background-color: white;
}

.bgcolor-red {
  background-color: #fd4f57;
}

/* ==========================================================================
   Blocks and Lists
   Mr Chow says: Class list-type is mandatory for all lists
   ========================================================================== */
.inlineBlock {
  display: inline-block;
}
.inlineBlock > li {
  display: inline-table;
}
.inlineBlock > li:last-child {
  padding-right: 0px;
}

.touch .list-type li {
  margin-bottom: 10px;
}

.list-type {
  margin: 4px 0 0 20px;
}

.list-type li, .list-type h6 {
  margin-bottom: 5px;
}

ul.list-regular li, ul.list-regular h6 {
  margin-bottom: 5px;
}

.touch .list-regular li, .touch .list-regular h6 {
  margin-bottom: 8px;
  width: 100%;
}

ul.list-type li {
  list-style-type: square;
}

ol.list-type li {
  list-style-type: decimal;
}

ul.list-type li ul li {
  list-style-type: none;
}
ul.list-type li ul li:before {
  content: "-";
  padding-right: 10px;
}

dl {
  margin: 0 12px;
}

dt {
  clear: both;
}

/* ==========================================================================
   Forms
   ========================================================================== */
input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.input-helper {
  position: relative;
  display: inline-block;
}
.input-helper:before {
  content: '';
  display: block;
  position: absolute;
}

.input-helper--radio {
  padding-left: 18px;
}
.input-helper--radio:before {
  top: 1px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #222;
}

.input-helper--checkbox {
  padding-left: 20px;
}
.input-helper--checkbox:before {
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #222;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label:before {
  background: #222;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label:before {
  background: #222;
}

label {
  display: block;
  font-family: "Polaris-Condensed-Bold", "Polaris-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-left: 10px;
}
label.label-form {
  color: #aaaaaa;
}

.input_black, .input_white {
  font-family: "Polaris-Book", sans-serif;
  width: 100%;
  border: 0;
  display: block;
  padding: 8px;
  background-color: transparent;
  border-bottom: 1px solid #aaaaaa;
}
.input_black:focus, .input_white:focus {
  outline: 0;
}

.input_black {
  text-overflow: ellipsis;
}
.input_black::-webkit-input-placeholder {
  color: #aaaaaa;
}
.input_black:-moz-placeholder {
  color: #aaaaaa;
}
.input_black::-moz-placeholder {
  color: #aaaaaa;
}
.input_black:-ms-input-placeholder {
  color: #aaaaaa;
}
.input_black:focus {
  background-color: white;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 1px 1px 1px #e6e6e6 ;
  -moz-box-shadow: 1px 1px 1px #e6e6e6 ;
  box-shadow: 1px 1px 1px #e6e6e6 ;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.input_black.input_grey_focus:focus {
  background-color: whitesmoke;
}

.input_white {
  color: white;
  text-overflow: ellipsis;
}
.input_white::-webkit-input-placeholder {
  color: white;
}
.input_white:-moz-placeholder {
  color: white;
}
.input_white::-moz-placeholder {
  color: white;
}
.input_white:-ms-input-placeholder {
  color: white;
}
.input_white:focus {
  background-color: white;
  color: #222222;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 1px 1px 1px #e6e6e6 ;
  -moz-box-shadow: 1px 1px 1px #e6e6e6 ;
  box-shadow: 1px 1px 1px #e6e6e6 ;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.input_white:focus::-webkit-input-placeholder {
  color: #222222;
}
.input_white:focus:-moz-placeholder {
  color: #222222;
}
.input_white:focus::-moz-placeholder {
  color: #222222;
}
.input_white:focus:-ms-input-placeholder {
  color: #222222;
}

.input-text-clear-container .input_black {
  padding-right: 39px;
}

.form-search {
  position: relative;
  /*Search Icon*/
  /*Clear Icon*/
}
.form-search .input-search-icon {
  position: absolute;
  top: 11px;
  left: 6px;
  font-size: 1.2em;
}
.form-search.form-search_focus.form-search_white .glyphs, .form-search.form-search_focus .form-search_black .glyphs {
  color: #222222 !important;
}
.form-search .input_black, .form-search .input_white {
  padding: 9px 25px 9px 30px;
}
.form-search .input-text-clear {
  position: absolute;
  cursor: pointer;
  top: -1px;
  right: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: right;
}
.form-search .input-text-clear:before {
  top: 13px;
  position: relative;
  right: 13px;
}

.input-suggest {
  position: relative;
}
.input-suggest input {
  background-color: white;
  border-bottom: none;
  padding: 9px 22px 9px 9px;
}
.input-suggest .input_white {
  text-overflow: ellipsis;
}
.input-suggest .input_white::-webkit-input-placeholder {
  color: #222222;
}
.input-suggest .input_white:-moz-placeholder {
  color: #222222;
}
.input-suggest .input_white::-moz-placeholder {
  color: #222222;
}
.input-suggest .input_white:-ms-input-placeholder {
  color: #222222;
}
.input-suggest .input_black {
  border-bottom: 1px solid white;
}
.input-suggest span {
  position: absolute;
  top: 12px;
  right: 10px;
}

input[type="text"].form-validator_error,
input[type="email"].form-validator_error,
input[type="password"].form-validator_error,
input[type="number"].form-validator_error {
  border: 1px solid #fd4f57;
  background-color: white;
}
input[type="text"].form-validator_error:focus,
input[type="email"].form-validator_error:focus,
input[type="password"].form-validator_error:focus,
input[type="number"].form-validator_error:focus {
  box-shadow: none;
}

input[type="text"].form-validator_success,
input[type="email"].form-validator_success,
input[type="password"].form-validator_success,
input[type="number"].form-validator_success {
  border: 1px solid #4ffd8c;
  background-color: white;
  color: #222222;
}
input[type="text"].form-validator_success:focus,
input[type="email"].form-validator_success:focus,
input[type="password"].form-validator_success:focus,
input[type="number"].form-validator_success:focus {
  box-shadow: none;
}

input[type="submit"] {
  border: 0;
}

textarea {
  font-family: "Polaris-Book", sans-serif;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
}
textarea:focus {
  background-color: whitesmoke;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=text]::-ms-clear {
  display: none;
}

select {
  width: 100%;
}

.touch select {
  border: none;
  border-bottom: 1px solid #aaaaaa;
  padding: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background: url("../images/icons/arrow-down.svg") no-repeat right;
  /*Adds background-image*/
  background-size: 28px;
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
  cursor: pointer;
}
.touch select:focus {
  outline: none;
}
.touch select::-ms-expand {
  /*Removes default arrow from internet explorer*/
  display: none;
}

.no-svg .touch select {
  background: url("../images/icons/arrow-down.png") no-repeat;
  /*Adds background-image*/
  background-position: 98% 0px;
  /*Position of the background-image*/
  background-size: 28px;
}

.touch select option {
  color: #222222;
}
.touch select option:focus {
  color: #222222;
}

.touch .chosen-container_white select {
  color: white;
  background: url("../images/icons/arrow-down_white.svg") no-repeat right;
  /*Adds background-image*/
  background-size: 28px;
}

.touch.no-svg .chosen-container_white select {
  background: url("../images/icons/arrow-down_white.png") no-repeat;
  /*Adds background-image*/
  background-position: 98% 0px;
  /*Position of the background-image*/
  background-size: 28px;
}

.touch .chosen-container_white select option {
  background-color: white;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
button {
  position: relative;
}
button .glyphs {
  font-size: 1.25em;
  position: absolute;
  top: 9px;
  right: 12px;
}

.col-auto button {
  width: auto;
  padding-right: 60px;
  min-width: 225px;
}

.button-black {
  background-color: #222222;
  color: white;
  font-family: "Polaris-Bold", sans-serif;
  width: 100%;
  text-align: left;
  opacity: 1;
  padding: 8px 12px 8px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-black:active {
  background-color: #cccccc;
  -webkit-box-shadow: 1px 1px 0px #888888 inset;
  -moz-box-shadow: 1px 1px 0px #888888 inset;
  box-shadow: 1px 1px 0px #888888 inset;
}
.button-black:disabled {
  background-color: #cccccc;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.no-touch .button-black:hover {
  background-color: #cccccc;
  -webkit-box-shadow: 1px 1px 0px #888888 inset;
  -moz-box-shadow: 1px 1px 0px #888888 inset;
  box-shadow: 1px 1px 0px #888888 inset;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-black-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: #222222;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-black-circle:active {
  -webkit-box-shadow: 1px 1px 0px #888888 inset;
  -moz-box-shadow: 1px 1px 0px #888888 inset;
  box-shadow: 1px 1px 0px #888888 inset;
  opacity: 1;
}

.no-touch .button-black-circle:hover {
  -webkit-box-shadow: 1px 1px 0px #888888 inset;
  -moz-box-shadow: 1px 1px 0px #888888 inset;
  box-shadow: 1px 1px 0px #888888 inset;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-white {
  background-color: white;
  color: #222222;
  font-family: "Polaris-Bold", sans-serif;
  width: 100%;
  text-align: left;
  opacity: 1;
  padding: 8px 12px 8px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-white:active {
  -webkit-box-shadow: 1px 1px 0px #888888 inset;
  -moz-box-shadow: 1px 1px 0px #888888 inset;
  box-shadow: 1px 1px 0px #888888 inset;
  opacity: 1;
}

.no-touch .button-white:hover {
  -webkit-box-shadow: 1px 1px 0px #888888 inset;
  -moz-box-shadow: 1px 1px 0px #888888 inset;
  box-shadow: 1px 1px 0px #888888 inset;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.button-white-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: white;
  color: #222222;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-white-circle .glyphs {
  position: relative;
  top: -1px;
  right: 0;
}

.no-touch .button-white-circle:hover {
  -webkit-box-shadow: 1px 1px 0px #cccccc inset;
  -moz-box-shadow: 1px 1px 0px #cccccc inset;
  box-shadow: 1px 1px 0px #cccccc inset;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.no-touch .button-white-circle:active {
  -webkit-box-shadow: 1px 1px 0px #cccccc inset;
  -moz-box-shadow: 1px 1px 0px #cccccc inset;
  box-shadow: 1px 1px 0px #cccccc inset;
  opacity: 1;
}

/* this was making buttons not looking correctly on ipad
.touch {
  & .button-white-circle { 
    background-color:transparent;
  }
}*/
.button-grey {
  background-color: whitesmoke;
  color: #222222;
  font-family: "Polaris-Bold", sans-serif;
  width: 100%;
  text-align: left;
  opacity: 1;
  padding: 8px 12px 8px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-grey:active {
  -webkit-box-shadow: 1px 1px 0px #888888 inset;
  -moz-box-shadow: 1px 1px 0px #888888 inset;
  box-shadow: 1px 1px 0px #888888 inset;
  opacity: 1;
}
.button-grey .glyphs {
  font-size: 1.25em;
}

.no-touch .button-grey:hover {
  -webkit-box-shadow: 1px 1px 0px #888888 inset;
  -moz-box-shadow: 1px 1px 0px #888888 inset;
  box-shadow: 1px 1px 0px #888888 inset;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.global-button-a:hover {
  border-bottom: none;
}

/* ==========================================================================
   Validations
   ========================================================================== */
span.form-validator_error {
  position: relative;
  font-family: "Polaris-Bold", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.885rem;
  color: #fd4f57;
  margin: 6px 0px 6px 6px;
  float: left;
  clear: left;
  width: 100%;
}

span.form-validator_error:empty {
  display: none;
}

span.form-validator_success {
  position: absolute;
  font-family: "Polaris-Bold", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.885rem;
  color: #4ffd8c;
  background-color: white;
  top: 2px;
  left: 0px;
  padding: 4px;
  width: 100%;
}

p.form-validator_success {
  font-family: "Polaris-Bold", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.885rem;
  color: #4ffd8c;
  background-color: white;
  padding: 4px;
}

/* ==========================================================================
   Information
   ========================================================================== */
.notice_information, .notice_warning, .notice_error, .validation-summary-errors {
  width: 100%;
  padding: 5px 0 5px 0;
  z-index: 9;
  color: white;
  opacity: 0.9;
  -webkit-box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.18) ;
  -moz-box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.18) ;
  box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.18) ;
}
.notice_information a:link, .notice_warning a:link, .notice_error a:link, .validation-summary-errors a:link, .notice_information a:visited, .notice_warning a:visited, .notice_error a:visited, .validation-summary-errors a:visited {
  color: white;
  border-bottom: 1px solid white;
}
.notice_information .glyphs, .notice_warning .glyphs, .notice_error .glyphs, .validation-summary-errors .glyphs {
  margin-top: 5px;
  cursor: pointer;
}

.notice_information {
  background-color: #555555;
}

.notice_warning {
  background-color: #c2a67d;
}

.notice_error, .validation-summary-errors {
  background-color: #fd4f57;
}

.validation-summary-errors {
  padding-left: 10px;
  margin-bottom: 10px;
}

/* ==========================================================================
   Arrows
   ========================================================================== */
.arrow_top, .arrow_bottom, .arrow_right, .arrow_left {
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  position: absolute;
  z-index: 9;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow_top {
  -webkit-box-shadow: -1px -1px 2px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: -1px -1px 2px rgba(34, 34, 34, 0.1) ;
  box-shadow: -1px -1px 2px rgba(34, 34, 34, 0.1) ;
}

.arrow_bottom {
  -webkit-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
}

.arrow_right {
  -webkit-box-shadow: 2px -1px 2px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 2px -1px 2px rgba(34, 34, 34, 0.1) ;
  box-shadow: 2px -1px 2px rgba(34, 34, 34, 0.1) ;
}

.arrow_left {
  -webkit-box-shadow: -1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: -1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: -1px 1px 1px rgba(34, 34, 34, 0.1) ;
}

.arrow-slider_top, .arrow-slider_bottom {
  width: 22px;
  height: 18px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.arrow-slider_top:after, .arrow-slider_bottom:after {
  margin-top: 3px;
  content: " ";
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  position: absolute;
  z-index: 9;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-slider_top {
  height: 13px;
  width: 23px;
}
.arrow-slider_top:after {
  margin-top: 6px;
  margin-left: 4px;
  -webkit-box-shadow: -1px -1px 2px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: -1px -1px 2px rgba(34, 34, 34, 0.1) ;
  box-shadow: -1px -1px 2px rgba(34, 34, 34, 0.1) ;
}

.arrow-slider_bottom {
  margin-top: 28px;
  position: absolute;
}
.arrow-slider_bottom:after {
  margin-top: -8px;
  margin-left: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
}

/* ==========================================================================
   Slugs
   ========================================================================== */
.slug {
  font-family: "Polaris-Bold", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.885rem;
}
.slug.slug-beige {
  color: #c2a67d;
}
.slug.slug-red {
  color: #fd4f57;
}
.slug.slug-mediumGrey {
  color: #aaaaaa;
}
.slug.slug-offWhite {
  color: whitesmoke;
  margin-bottom: 4px;
}

/* ==========================================================================
   Mask
   ========================================================================== */
.no-touch .mask-overlay {
  position: absolute;
  background-color: #222222;
  width: 100%;
  height: 100%;
  top: 0;
  filter: alpha(opacity=0);
  z-index: 0;
  opacity: 0.01;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.no-touch .mask-overlay:hover {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  height: 100%;
  opacity: 0.8;
}

/* ==========================================================================
   Loader
   ========================================================================== */
.mask-loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  z-index: 99999;
  opacity: .9;
}

.mask-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
}
.mask-loader > div {
  -webkit-animation: loader 2s infinite;
  -moz-animation: loader 2s infinite;
  animation: loader 2s infinite;
}

@-moz-keyframes loader {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.search-mask-loader {
  top: 0;
}

/* ==========================================================================
   Video Container
   ========================================================================== */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
   Spacing-specific utilities

   Note: Not representative of values we want to be using yet.
   ========================================================================== */
/**
* <type><direction><size>
*/
.pa0 {
  padding: 0 !important;
}

.ma0 {
  margin: 0 !important;
}

.pa10 {
  padding: 10px;
}

.pa20 {
  padding: 20px;
}

.pa30 {
  padding: 30px;
}

.ma10 {
  margin: 10px;
}

.ma20 {
  margin: 20px;
}

.ma30 {
  margin: 2.31em;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

/*pixel on footer needs display none*/
#uniquePixelId {
  display: none;
}
